
@{
    ViewData["Title"] = "SuccecfullCheckOut";
}

<div class="alert alert-info">Payment completed. Order Number: @ViewBag.orderId</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home Page</a>

